.loader {
  border-color: #ff5555;
  border-right-color: #f9f9f9;

  &_size-s {
    width: 20px;
    height: 20px;
    border-width: 3px;
  }

  &_size-m {
    width: 40px;
    height: 40px;
    border-width: 4.5px;
  }

  &_size-l {
    width: 60px;
    height: 60px;
    border-width: 6px;
  }
}
